In [1]:
!pip install SQLAlchemy
!pip install --upgrade SQLAlchemy
!pip install psycopg2

Requirement already satisfied: SQLAlchemy in c:\users\user\anaconda3\lib\site-packages (1.3.18)
Requirement already up-to-date: SQLAlchemy in c:\users\user\anaconda3\lib\site-packages (1.3.18)
Requirement already satisfied: psycopg2 in c:\users\user\anaconda3\lib\site-packages (2.8.5)

# <font color=darkolivegreen> Дашборд для Яндекс.Дзен </font>

## <font color=olive>Описание данных</font>

#### <font color=olivedrab>Таблица dash_visits:</font>
 
 - record_id — номер записи;
 - item_topic — тема карточки;
 - source_topic — тема источника;
 - age_segment — возрастная категория пользователя;
 - dt - дата и время совершения события;
 - visits - количество событий.
 
 Создадим коннекцию к базе:

In [2]:
# импортируем библиотеки
import pandas as pd
from sqlalchemy import create_engine

db_config = {'user': 'praktikum_student',         # имя пользователя
             'pwd': 'Sdf4$2;d-d30pp', # пароль
             'host': 'rc1b-wcoijxj3yxfsf3fs.mdb.yandexcloud.net',
             'port': 6432,              # порт подключения
             'db': 'data-analyst-zen-project-db'}          # название базы данных

connection_string = 'postgresql://{}:{}@{}:{}/{}'.format(db_config['user'],
                                         db_config['pwd'],
                                         db_config['host'],
                                         db_config['port'],
                                         db_config['db'])

engine = create_engine(connection_string)

In [3]:
# выполним запрос к базе данных и сохраним необходимую таблицу в переменную dash_visits
query = '''
    SELECT 
        *
    FROM
        dash_visits
        '''
dash_visits = pd.io.sql.read_sql(query, con = engine)
dash_visits.to_csv('dash_visits.csv', index = False)
dash_visits

,record_id,item_topic,source_topic,age_segment,dt,visits
0,1040597,Деньги,Авто,18-25,2019-09-24 18:32:00,3
1,1040598,Деньги,Авто,18-25,2019-09-24 18:35:00,1
2,1040599,Деньги,Авто,18-25,2019-09-24 18:54:00,4
3,1040600,Деньги,Авто,18-25,2019-09-24 18:55:00,17
4,1040601,Деньги,Авто,18-25,2019-09-24 18:56:00,27
...,...,...,...,...,...,...
30740,1071337,Юмор,Финансы,36-40,2019-09-24 18:57:00,2
30741,1071338,Юмор,Финансы,36-40,2019-09-24 19:00:00,1
30742,1071339,Юмор,Финансы,41-45,2019-09-24 18:54:00,1
30743,1071340,Юмор,Финансы,41-45,2019-09-24 18:56:00,1
30744,1071341,Юмор,Финансы,41-45,2019-09-24 19:00:00,1

In [4]:
dash_visits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30745 entries, 0 to 30744
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   record_id     30745 non-null  int64
 1   item_topic    30745 non-null  object
 2   source_topic  30745 non-null  object
 3   age_segment   30745 non-null  object
 4   dt            30745 non-null  datetime64[ns]
 5   visits        30745 non-null  int64
dtypes: datetime64[ns](1), int64(2), object(3)
memory usage: 1.4+ MB

В таблице представлены данные о 30 745 записях об обращениях пользователей в конкретно указанное время в столбе dt к определенной теме и источнику по возрастным категориям за период с 18:32 до 19:00 24 сентября 2019 года.

Все строки заполнены.

ссылка на презентацию https://yadi.sk/i/Jl-V1Gs5wgdvsA


ссылка на дашборд https://public.tableau.com/profile/olga3823#!/vizhome/Dashboard_avt3/dashboard?publish=yes